<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
        
        .menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: rgb(182, 23, 161);
        }

        .menu li{
            list-style: none;
        }
        
        .menu li a{
        margin: 15px;
        text-decoration: none;
        }
        </style>
</head>
<body>
    <div>
        <ul class="menu">
            <li>  
                <a href="./home.html">Home</a>
            </li>
            <li>
                <a href="./sobremim.html">Sobre mim</a>
            </li>
            <li>
                <a href="./contatos.html">Contato</a>
            </li>  
            <li>
                <a href="./postagens.html">Postagens</a>
            </li> 
        </ul>
    </div>


    <!-- CONTEUDO DO SITE-->
    <section>
        <h2>Mais vistos</h2>
    </section>



    <footer>

    </footer>
</body>
</html>
